*{
    text-decoration: none;
}




header{
    display: flex;
    flex-direction: row;
   

}
.tr{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.tum{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.to{
    margin-left: 980px;
    margin-right: 20px;
    margin-top: 30px;
    
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
nav{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

}

.profile{
    margin-top: 35px;
    margin-right: 40px;
}

h2{
    color: green;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
  }
  
  .detail {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grain_name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .name {
    font-size: 18px;
    color: #333;
  }
  
  .district,
  .town,
  .quantity,
  .price,
  .mobile_number {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .button {
    text-align: right;
  }
  
  .button1 {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .button1:hover {
    background-color: #45a049;
    cursor: pointer;
  }

  nav{
    display: flex;

  }
  


